# AgentV1

> Fill in a module description here

In [ ]:
#| default_exp AgentV1

In [ ]:
#|export
from KhazadDum.SnowflakeCore import *
from lisette import *
import pandas as pd
import ast
import regex as re
import json

In [ ]:
#|export
from IPython.display import Markdown, display
MD = lambda x: display(Markdown(x))

## System Prompt

In [ ]:
#|export
def create_system_prompt(schema: ParentSchema) -> str:
    return f"""You are a SQL query generator for {schema.dialect}.

DATABASE: {schema.database}.{schema.Schema}
SCHEMA: {schema.model_dump_json(indent=2)}

CORE RULES:
1. Generate SELECT queries only - no modifications
2. ALWAYS quote identifiers: SELECT "column_name" FROM "table_name"
3. Use fully qualified names: {schema.database}.{schema.Schema}."TABLE_NAME"
4. No semicolons - single statement only
5. Use the execute_query tool to run queries
6. Format queries in triple quotes for readability
7. If user asks for all data do not apply `limit`

JSON COLUMNS:
- Many columns store JSON as VARCHAR (see samples)
- To extract values: GET(PARSE_JSON("column_name"), 'key')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR

NULL VALUES:
- Sample data shows '\\N' but use IS NULL / IS NOT NULL in WHERE clauses

JSON COLUMNS:
- Many columns store JSON as VARCHAR (city, airport_name, model)
- Extract English values: GET(PARSE_JSON("column_name"), 'en')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name"

ERROR RECOVERY:
If query fails:
1. Check quoted identifiers (all table/column names)
2. Verify table names are fully qualified
3. Confirm JSON extraction syntax
4. Check for typos in column/table names
5. Retry with corrected query

COMMON PATTERNS:
- Aggregations: Use COUNT(*), SUM(), AVG() with GROUP BY
- Top N: Use ORDER BY ... LIMIT N
- Deduplication: Use DISTINCT or GROUP BY
- Date filtering: Use BETWEEN or comparison operators on date columns

PERFORMANCE:
- Always use LIMIT for exploratory queries
- Prefer specific columns over SELECT *
- Use indexes via foreign key relationships

Be precise, efficient, and always validate your SQL syntax before execution."""

## Experiment

In [ ]:
agent = SnowflakeAgent()

M = DBMetadata(
    agent,
    "AIRLINES", "AIRLINES", model_name = model_name)
assert M()

In [ ]:
SYSTEM_PROMPT = create_system_prompt(M.metadata)
print(SYSTEM_PROMPT)

You are a SQL query generator for snowflake.

DATABASE: AIRLINES.AIRLINES
SCHEMA: {
  "dialect": "snowflake",
  "database": "AIRLINES",
  "Schema": "AIRLINES",
  "tables": [
    {
      "name": "AIRLINES.AIRLINES.AIRCRAFTS_DATA",
      "column_names": [
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "model",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "range",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "aircraft_code": "773",
          "model": "{\"en\": \"Boeing 777-300\", \"ru\": \"–ë–æ–∏–Ω–≥ 777-300\"}",
          "range": 11100
        }
      ],
      "row_count": 9
    },
    {
      "name": "AIRLINES.AIRLINES.AIRPORTS_DATA",
      "column_names": [
        {
          "name": "airport_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "airport_name",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "city",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "coordinates",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "timezone",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "airport_code": "YKS",
          "airport_name": "{\"en\": \"Yakutsk Airport\", \"ru\": \"–Ø–∫—É—Ç—Å–∫\"}",
          "city": "{\"en\": \"Yakutsk\", \"ru\": \"–Ø–∫—É—Ç—Å–∫\"}",
          "coordinates": "(129.77099609375,62.0932998657226562)",
          "timezone": "Asia/Yakutsk"
        }
      ],
      "row_count": 104
    },
    {
      "name": "AIRLINES.AIRLINES.BOARDING_PASSES",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "boarding_no",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "seat_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005435212351",
          "flight_id": 30625,
          "boarding_no": 1,
          "seat_no": "2D"
        }
      ],
      "row_count": 579686
    },
    {
      "name": "AIRLINES.AIRLINES.BOOKINGS",
      "column_names": [
        {
          "name": "book_ref",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "book_date",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "total_amount",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "book_ref": "00000F",
          "book_date": "2017-07-05 03:12:00+03",
          "total_amount": 265700
        }
      ],
      "row_count": 262788
    },
    {
      "name": "AIRLINES.AIRLINES.FLIGHTS",
      "column_names": [
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "flight_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "scheduled_departure",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "scheduled_arrival",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "departure_airport",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "arrival_airport",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "status",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "actual_departure",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "actual_arrival",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "flight_id": 1185,
          "flight_no": "PG0134",
          "scheduled_departure": "2017-09-10 09:50:00+03",
          "scheduled_arrival": "2017-09-10 14:55:00+03",
          "departure_airport": "DME",
          "arrival_airport": "BTK",
          "status": "Scheduled",
          "aircraft_code": "319",
          "actual_departure": "\\N",
          "actual_arrival": "\\N"
        }
      ],
      "row_count": 33121
    },
    {
      "name": "AIRLINES.AIRLINES.SEATS",
      "column_names": [
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "seat_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "fare_conditions",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "aircraft_code": "319",
          "seat_no": "2A",
          "fare_conditions": "Business"
        }
      ],
      "row_count": 1339
    },
    {
      "name": "AIRLINES.AIRLINES.TICKETS",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "book_ref",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "passenger_id",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005432000987",
          "book_ref": "06B046",
          "passenger_id": "8149 604011"
        }
      ],
      "row_count": 366733
    },
    {
      "name": "AIRLINES.AIRLINES.TICKET_FLIGHTS",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "fare_conditions",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "amount",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005432159776",
          "flight_id": 30625,
          "fare_conditions": "Business",
          "amount": 42100
        }
      ],
      "row_count": 1045726
    }
  ],
  "relationships": [
    {
      "from_table": "FLIGHTS",
      "from_column": "aircraft_code",
      "to_table": "AIRCRAFTS_DATA",
      "to_column": "aircraft_code"
    },
    {
      "from_table": "FLIGHTS",
      "from_column": "departure_airport",
      "to_table": "AIRPORTS_DATA",
      "to_column": "airport_code"
    },
    {
      "from_table": "FLIGHTS",
      "from_column": "arrival_airport",
      "to_table": "AIRPORTS_DATA",
      "to_column": "airport_code"
    },
    {
      "from_table": "BOARDING_PASSES",
      "from_column": "flight_id",
      "to_table": "FLIGHTS",
      "to_column": "flight_id"
    },
    {
      "from_table": "BOARDING_PASSES",
      "from_column": "ticket_no",
      "to_table": "TICKETS",
      "to_column": "ticket_no"
    },
    {
      "from_table": "SEATS",
      "from_column": "aircraft_code",
      "to_table": "AIRCRAFTS_DATA",
      "to_column": "aircraft_code"
    },
    {
      "from_table": "TICKET_FLIGHTS",
      "from_column": "flight_id",
      "to_table": "FLIGHTS",
      "to_column": "flight_id"
    },
    {
      "from_table": "TICKET_FLIGHTS",
      "from_column": "ticket_no",
      "to_table": "TICKETS",
      "to_column": "ticket_no"
    },
    {
      "from_table": "TICKETS",
      "from_column": "book_ref",
      "to_table": "BOOKINGS",
      "to_column": "book_ref"
    }
  ]
}

CORE RULES:
1. Generate SELECT queries only - no modifications
2. ALWAYS quote identifiers: SELECT "column_name" FROM "table_name"
3. Use fully qualified names: AIRLINES.AIRLINES."TABLE_NAME"
4. No semicolons - single statement only
5. Use the execute_query tool to run queries
6. Format queries in triple quotes for readability
7. If user asks for all data do not apply `limit`

JSON COLUMNS:
- Many columns store JSON as VARCHAR (see samples)
- To extract values: GET(PARSE_JSON("column_name"), 'key')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR

NULL VALUES:
- Sample data shows '\N' but use IS NULL / IS NOT NULL in WHERE clauses

JSON COLUMNS:
- Many columns store JSON as VARCHAR (city, airport_name, model)
- Extract English values: GET(PARSE_JSON("column_name"), 'en')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name"

ERROR RECOVERY:
If query fails:
1. Check quoted identifiers (all table/column names)
2. Verify table names are fully qualified
3. Confirm JSON extraction syntax
4. Check for typos in column/table names
5. Retry with corrected query

COMMON PATTERNS:
- Aggregations: Use COUNT(*), SUM(), AVG() with GROUP BY
- Top N: Use ORDER BY ... LIMIT N
- Deduplication: Use DISTINCT or GROUP BY
- Date filtering: Use BETWEEN or comparison operators on date columns

PERFORMANCE:
- Always use LIMIT for exploratory queries
- Prefer specific columns over SELECT *
- Use indexes via foreign key relationships

Be precise, efficient, and always validate your SQL syntax before execution.

In [ ]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
res = chat("Which airport has the most departures?", max_steps=5)
res

ModelResponse(id='chatcmpl-1ooxlmvdl85k80r5m4f1qc', created=1764440328, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The airport with the most departures is **Domodedovo International Airport** (airport code\u202fDME), with **3,217** scheduled departures in the dataset.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to provide answer.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to provide answer.', 'reasoning_content': 'Need to provide answer.'}), provider_specific_fields={})], usage=Usage(completion_tokens=48, prompt_tokens=3352, total_tokens=3400, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [ ]:
chat.print_hist()

{'role': 'user', 'content': 'Which airport has the most departures?'}

Message(content='', role='assistant', tool_calls=[{'function': {'arguments': '{"query":"SELECT GET(PARSE_JSON(\\"airport_name\\"), \'en\')::VARCHAR AS \\"airport_name\\", COUNT(*) AS \\"departure_count\\"\\nFROM AIRLINES.AIRLINES.\\"FLIGHTS\\"\\nJOIN AIRLINES.AIRLINES.\\"AIRPORTS_DATA\\" ON \\"FLIGHTS\\".\\"departure_airport\\" = \\"AIRPORTS_DATA\\".\\"airport_code\\"\\nGROUP BY \\"airport_name\\"\\nORDER BY \\"departure_count\\" DESC\\nLIMIT 1","max_rows":10}', 'name': 'execute_query'}, 'id': '477437910', 'type': 'function'}], function_call=None, reasoning_content='Need count of flights per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport. Order desc limit 1. Extract airport_name en. Need join to AIRPORTS_DATA. Query.', provider_specific_fields={'refusal': None, 'reasoning': 'Need count of flights per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport. Order desc limit 1. Extract airport_name en. Need join to AIRPORTS_DATA. Query.', 'reasoning_content': 'Need count of flights per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport. Order desc limit 1. Extract airport_name en. Need join to AIRPORTS_DATA. Query.'})

{'tool_call_id': '477437910', 'role': 'tool', 'name': 'execute_query', 'content': 'query=\'SELECT GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"\\nFROM AIRLINES.AIRLINES."FLIGHTS"\\nJOIN AIRLINES.AIRLINES."AIRPORTS_DATA" ON "FLIGHTS"."departure_airport" = "AIRPORTS_DATA"."airport_code"\\nGROUP BY "airport_name"\\nORDER BY "departure_count" DESC\\nLIMIT 1\' success=True data=[{\'airport_name\': \'Domodedovo International Airport\', \'departure_count\': 3217}] error=None row_count=1 execution_time=0.35004281997680664'}

Message(content='The airport with the most departures is **Domodedovo International Airport** (airport code\u202fDME), with **3,217** scheduled departures in the dataset.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to provide answer.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to provide answer.', 'reasoning_content': 'Need to provide answer.'})

In [ ]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
res = chat("Which airport has the least departures?", max_steps=5)
res

In [ ]:
chat.print_hist()

{'role': 'user', 'content': 'Which airport has the least departures?'}

Message(content='', role='assistant', tool_calls=[{'function': {'arguments': '{"query":"SELECT \\"departure_airport\\" AS \\"airport_code\\", COUNT(*) AS \\"departures_count\\", GET(PARSE_JSON(\\"airport_name\\"), \'en\')::VARCHAR AS \\"airport_name\\"\\nFROM AIRLINES.AIRLINES.FLIGHTS\\nJOIN AIRLINES.AIRLINES.AIRPORTS_DATA ON FLIGHTS.\\"departure_airport\\" = AIRPORTS_DATA.\\"airport_code\\"\\nGROUP BY \\"departure_airport\\", GET(PARSE_JSON(\\"airport_name\\"), \'en\')::VARCHAR\\nORDER BY \\"departures_count\\" ASC\\nLIMIT 1","max_rows":10}', 'name': 'execute_query'}, 'id': '298743786', 'type': 'function'}], function_call=None, reasoning_content='Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Use GET(PARSE_JSON("airport_name"),\'en\')::VARCHAR AS "airport_name". Query.', provider_specific_fields={'refusal': None, 'reasoning': 'Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Use GET(PARSE_JSON("airport_name"),\'en\')::VARCHAR AS "airport_name". Query.', 'reasoning_content': 'Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Use GET(PARSE_JSON("airport_name"),\'en\')::VARCHAR AS "airport_name". Query.'})

{'tool_call_id': '298743786', 'role': 'tool', 'name': 'execute_query', 'content': 'query=\'SELECT "departure_airport" AS "airport_code", COUNT(*) AS "departures_count", GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name"\\nFROM AIRLINES.AIRLINES.FLIGHTS\\nJOIN AIRLINES.AIRLINES.AIRPORTS_DATA ON FLIGHTS."departure_airport" = AIRPORTS_DATA."airport_code"\\nGROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR\\nORDER BY "departures_count" ASC\\nLIMIT 1\' success=True data=[{\'airport_code\': \'USK\', \'departures_count\': 18, \'airport_name\': \'Usinsk Airport\'}] error=None row_count=1 execution_time=0.38482069969177246'}

Message(content='The airport with the fewest departures is **USK (Usinsk Airport)**, which has 18 scheduled departures in the dataset.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to provide answer.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to provide answer.', 'reasoning_content': 'Need to provide answer.'})

## For formtting user input

In [ ]:
chat.hist[0]

{'role': 'user', 'content': 'Which airport has the least departures?'}

In [ ]:
#|export
def md_user(msg):
    """Format user message with quote styling"""
    content = msg.get('content', '') if isinstance(msg, dict) else msg.content
    
    return f"""### üë§ **User**

> {content}
"""

In [ ]:
MD(md_user(chat.hist[0]))

### üë§ **User**

> Which airport has the least departures?

## For formtting  tool execute query response

Implement rendering of chat  history for better visualization and analysis.

In [ ]:
content = chat.hist[2]['content']

# Extract the key-value pairs
# This regex finds pattern: key=value
pattern = r"(\w+)=(.+?)(?=\s+\w+=|\s*$)"
matches = re.findall(pattern, content)
matches

[('query',
  '\'SELECT "departure_airport" AS "airport_code", COUNT(*) AS "departures_count", GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name"\\nFROM AIRLINES.AIRLINES.FLIGHTS\\nJOIN AIRLINES.AIRLINES.AIRPORTS_DATA ON FLIGHTS."departure_airport" = AIRPORTS_DATA."airport_code"\\nGROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR\\nORDER BY "departures_count" ASC\\nLIMIT 1\''),
 ('success', 'True'),
 ('data',
  "[{'airport_code': 'USK', 'departures_count': 18, 'airport_name': 'Usinsk Airport'}]"),
 ('error', 'None'),
 ('row_count', '1'),
 ('execution_time', '0.38482069969177246')]

In [ ]:
ast.literal_eval(matches[2][1].strip())

[{'airport_code': 'USK',
  'departures_count': 18,
  'airport_name': 'Usinsk Airport'}]

In [ ]:
chat.hist[2]

{'tool_call_id': '298743786',
 'role': 'tool',
 'name': 'execute_query',
 'content': 'query=\'SELECT "departure_airport" AS "airport_code", COUNT(*) AS "departures_count", GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name"\\nFROM AIRLINES.AIRLINES.FLIGHTS\\nJOIN AIRLINES.AIRLINES.AIRPORTS_DATA ON FLIGHTS."departure_airport" = AIRPORTS_DATA."airport_code"\\nGROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR\\nORDER BY "departures_count" ASC\\nLIMIT 1\' success=True data=[{\'airport_code\': \'USK\', \'departures_count\': 18, \'airport_name\': \'Usinsk Airport\'}] error=None row_count=1 execution_time=0.38482069969177246'}

We want the details of content. It is a string object.

In [ ]:
#|export
def str2key_value(msg:str):
    """
    Extracts key and value from a message string.

    Args:
        msg (str): The message string to extract tools from.
        Ex: `'query=\'SELECT "departure_airport", COUNT(*) AS "departures" FROM AIRLINES.AIRLINES."FLIGHTS" WHERE "scheduled_departure" IS NOT NULL GROUP BY "departure_airport" ORDER BY "departures" ASC LIMIT 1\' success=True data=[{\'departure_airport\': \'USK\', \'departures\': 18}] error=None row_count=1 execution_time=0.3334343433380127'`

    Returns:
        dict: A dictionary of tools extracted from the message string.
        Ex:
        {'query': 'SELECT "departure_airport", COUNT(*) AS "departures" FROM AIRLINES.AIRLINES."FLIGHTS" WHERE "scheduled_departure" IS NOT NULL GROUP BY "departure_airport" ORDER BY "departures" ASC LIMIT 1',
        'success': True,
        'data': [{'departure_airport': 'USK', 'departures': 18}],
        'error': None,
        'row_count': 1,
        'execution_time': 0.3334343433380127}

    """
    pattern = r"(\w+)=(.+?)(?=\s+\w+=|\s*$)"
    matches = re.findall(pattern, msg)
    parsed = {}
    for key, value in matches:
        try:
            # Try to evaluate as Python literal
            parsed[key] = ast.literal_eval(value.strip())
        except (ValueError, SyntaxError):
            # If it fails, keep as string
            parsed[key] = value.strip()
    return parsed

In [ ]:
str2key_value('content')

{}

In [ ]:
dic = str2key_value(chat.hist[2]['content'])
dic

{'query': 'SELECT "departure_airport" AS "airport_code", COUNT(*) AS "departures_count", GET(PARSE_JSON("airport_name"), \'en\')::VARCHAR AS "airport_name"\nFROM AIRLINES.AIRLINES.FLIGHTS\nJOIN AIRLINES.AIRLINES.AIRPORTS_DATA ON FLIGHTS."departure_airport" = AIRPORTS_DATA."airport_code"\nGROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), \'en\')::VARCHAR\nORDER BY "departures_count" ASC\nLIMIT 1',
 'success': True,
 'data': [{'airport_code': 'USK',
   'departures_count': 18,
   'airport_name': 'Usinsk Airport'}],
 'error': None,
 'row_count': 1,
 'execution_time': 0.38482069969177246}

In [ ]:
#|export
def md_tool(dic):
    """Compact tool result formatting"""
    content = str2key_value(dic.get('content', ''))
    
    success = content.get('success', False)
    data = content.get('data', [])
    row_count = content.get('row_count', 0)
    exec_time = content.get('execution_time', 0)
    
    base_str = f"""### üõ†Ô∏è **Tool**
__Executed: {dic.get('name', '')}__

"""
    
    if not success:
        return base_str + f"‚ùå **Error:** {content.get('error')}"
    
    # Format first few rows
    if data: 
        if isinstance(data, str):
            # rather than conerting str to table
            # better to refire the query ti db 
            query = content.get('query', '')
            r = agent.execute_query(query)
            df = pd.json_normalize(r.data)
        else:
            df = pd.json_normalize(data[:5])
        
        table = df.to_markdown(index=False)
    else:
        table = "_No data_"
    
    return base_str + f"""‚úÖ **Result** ({row_count} rows, {exec_time:.2f}s)

{table}
"""

In [ ]:
MD(md_tool(chat.hist[2]))

### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.38s)

| airport_code   |   departures_count | airport_name   |
|:---------------|-------------------:|:---------------|
| USK            |                 18 | Usinsk Airport |

## For formtting  assistant response

In [ ]:
#|export
from litellm.types.utils import Message
def md_assistant(msg:Message):
    """Format message as markdown - handles both tool calls and regular responses"""
    
    # Check if this is a tool call message
    if msg.tool_calls and len(msg.tool_calls) > 0:
        # Format tool call
        try:
            func = msg.tool_calls[0]['function']
            args = json.loads(func['arguments'])
            query = args.pop('query', '')
            
            query_section = f"""<details>
<summary><b>üìù Query</b></summary>

```sql
{query}

```
</details>
"""  if query else ''
            #query_section = f">**Query:**\n```sql\n{query}\n```\n" if query else ''
            
            args_table = (
                "\n| Parameter | Value |\n|-----------|-------|\n" + 
                "\n".join(f"| **{k}** | `{v}` |" for k, v in args.items())
            ) if args else ""
            
            reasoning = msg.reasoning_content or "No reasoning provided"
            
            return f"""### üß† Assistant \n\n
_Reasoning: {reasoning}_

**Call: {func['name']}**

{query_section}{args_table}

"""
        except (IndexError, KeyError, json.JSONDecodeError) as e:
            return f"‚ùå Error formatting tool call: {e}"
    
    else:
        # Regular assistant message (no tool calls)
        reasoning = msg.reasoning_content or ""
        reasoning_section = f"\n\nüí≠ _Reasoning: {reasoning}_" if reasoning else ""
        
        return f"""ü§ñ **Assistant**

{msg.content}{reasoning_section}
"""

In [ ]:
m = md_assistant(chat.hist[1])
display(Markdown(m))

### üß† Assistant


_Reasoning: Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Use GET(PARSE_JSON("airport_name"),'en')::VARCHAR AS "airport_name". Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT "departure_airport" AS "airport_code", COUNT(*) AS "departures_count", GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name"
FROM AIRLINES.AIRLINES.FLIGHTS
JOIN AIRLINES.AIRLINES.AIRPORTS_DATA ON FLIGHTS."departure_airport" = AIRPORTS_DATA."airport_code"
GROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), 'en')::VARCHAR
ORDER BY "departures_count" ASC
LIMIT 1

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |

In [ ]:
MD(md_assistant(chat.hist[-1]))

ü§ñ **Assistant**

The airport with the fewest departures is **USK (Usinsk Airport)**, which has 18 scheduled departures in the dataset.

üí≠ _Reasoning: Need to provide answer._

## Putting it all together

In [ ]:
r = []
for h in chat.hist:
    if isinstance(h, dict) :
        ## it will be for user and tools
        if h['role'] == 'user':
            r.append(md_user(h))
        elif h['role'] == 'tool':
            r.append(md_tool(h))
    elif isinstance(h, Message):
        ## assitant turn
        r.append(md_assistant(h))

In [ ]:
MD('\n ---\n'.join(r))

### üë§ **User**

> Which airport has the least departures?

 ---
### üß† Assistant


_Reasoning: Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Use GET(PARSE_JSON("airport_name"),'en')::VARCHAR AS "airport_name". Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT "departure_airport" AS "airport_code", COUNT(*) AS "departures_count", GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name"
FROM AIRLINES.AIRLINES.FLIGHTS
JOIN AIRLINES.AIRLINES.AIRPORTS_DATA ON FLIGHTS."departure_airport" = AIRPORTS_DATA."airport_code"
GROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), 'en')::VARCHAR
ORDER BY "departures_count" ASC
LIMIT 1

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.38s)

| airport_code   |   departures_count | airport_name   |
|:---------------|-------------------:|:---------------|
| USK            |                 18 | Usinsk Airport |

 ---
ü§ñ **Assistant**

The airport with the fewest departures is **USK (Usinsk Airport)**, which has 18 scheduled departures in the dataset.

üí≠ _Reasoning: Need to provide answer._

In [ ]:
def vis(chat):
        r = []
        for h in chat.hist:
            if isinstance(h, dict) :
                ## it will be for user and tools
                if h['role'] == 'user':
                    r.append(md_user(h))
                elif h['role'] == 'tool':
                    r.append(md_tool(h))
            elif isinstance(h, Message):
                ## assitant turn
                r.append(md_assistant(h))
        return MD('\n ---\n'.join(r))

In [ ]:
vis(chat)

### üë§ **User**

> Which airport has the least departures?

 ---
### üß† Assistant


_Reasoning: Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Use GET(PARSE_JSON("airport_name"),'en')::VARCHAR AS "airport_name". Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT "departure_airport" AS "airport_code", COUNT(*) AS "departures_count", GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name"
FROM AIRLINES.AIRLINES.FLIGHTS
JOIN AIRLINES.AIRLINES.AIRPORTS_DATA ON FLIGHTS."departure_airport" = AIRPORTS_DATA."airport_code"
GROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), 'en')::VARCHAR
ORDER BY "departures_count" ASC
LIMIT 1

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.38s)

| airport_code   |   departures_count | airport_name   |
|:---------------|-------------------:|:---------------|
| USK            |                 18 | Usinsk Airport |

 ---
ü§ñ **Assistant**

The airport with the fewest departures is **USK (Usinsk Airport)**, which has 18 scheduled departures in the dataset.

üí≠ _Reasoning: Need to provide answer._

## Other Expriments

### 1.

In [ ]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
res = chat("How many flights are there?", max_steps=5)
res

ModelResponse(id='chatcmpl-9puc247sf5tgf60o56s0c', created=1764354060, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The total number of flights in the dataset is **33,121**.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Return result.', provider_specific_fields={'refusal': None, 'reasoning': 'Return result.', 'reasoning_content': 'Return result.'}), provider_specific_fields={})], usage=Usage(completion_tokens=28, prompt_tokens=3195, total_tokens=3223, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [ ]:
vis(chat)

### üë§ **User**

> How many flights are there?

 ---
### üß† Assistant


_Reasoning: Need count from FLIGHTS. Use fully qualified._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT COUNT(*) AS "flight_count" FROM AIRLINES.AIRLINES."FLIGHTS"

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.36s)

|   flight_count |
|---------------:|
|          33121 |

 ---
ü§ñ **Assistant**

The total number of flights in the dataset is **33,121**.

üí≠ _Reasoning: Return result._

### 2

In [ ]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
res = chat("Which airport has the most departures?", max_steps=5)
res

ModelResponse(id='chatcmpl-hmbsrxiioht3yaddxlpzf', created=1764354069, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The airport with the highest number of departures is **Domodedovo International Airport** (airport code\u202fDME), with **3,217** scheduled departures in the dataset.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to provide answer.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to provide answer.', 'reasoning_content': 'Need to provide answer.'}), provider_specific_fields={})], usage=Usage(completion_tokens=50, prompt_tokens=3352, total_tokens=3402, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [ ]:
vis(chat)

### üë§ **User**

> Which airport has the most departures?

 ---
### üß† Assistant


_Reasoning: Need count of flights per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport. Order desc limit 1. Extract airport_name en. Need join to AIRPORTS_DATA. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"
FROM AIRLINES.AIRLINES."FLIGHTS"
JOIN AIRLINES.AIRLINES."AIRPORTS_DATA" ON "FLIGHTS"."departure_airport" = "AIRPORTS_DATA"."airport_code"
GROUP BY "airport_name"
ORDER BY "departure_count" DESC
LIMIT 1

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.42s)

| airport_name                     |   departure_count |
|:---------------------------------|------------------:|
| Domodedovo International Airport |              3217 |

 ---
ü§ñ **Assistant**

The airport with the highest number of departures is **Domodedovo International Airport** (airport code‚ÄØDME), with **3,217** scheduled departures in the dataset.

üí≠ _Reasoning: Need to provide answer._

### 3

In [ ]:
def ask(q):
    chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
    res = chat(q, max_steps=15)
    return chat, res

In [ ]:
q = "What are the top 5 busiest routes by number of flights?"

chat, res = ask(q)
res

ModelResponse(id='chatcmpl-6wqwxyztkoee4ttw8fflin', created=1764354080, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='**Top\u202f5 busiest routes (by number of flights)**  \n\n| # | Departure Airport | Arrival Airport | Flights |\n|---|--------------------|-----------------|---------|\n| 1 | SVO | LED | 305 |\n| 2 | LED | SVO | 305 |\n| 3 | DME | LED | 244 |\n| 4 | LED | DME | 244 |\n| 5 | BZK | SVO | 183 |\n\nThese counts are derived from the `FLIGHTS` table, grouped by departure and arrival airport codes.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to format answer.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to format answer.', 'reasoning_content': 'Need to format answer.'}), provider_specific_fields={})], usage=Usage(completion_tokens=131, prompt_tokens=3376, total_tokens=3507, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [ ]:
vis(chat)

### üë§ **User**

> What are the top 5 busiest routes by number of flights?

 ---
### üß† Assistant


_Reasoning: Need join FLIGHTS with departure_airport and arrival_airport counts. Count distinct flight_id per route pair. Order desc limit 5. Use fully qualified names. Use SELECT "departure_airport","arrival_airport",COUNT(*) AS "flight_count" FROM AIRLINES.AIRLINES.FLIGHTS GROUP BY "departure_airport","arrival_airport" ORDER BY "flight_count" DESC LIMIT 5._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT "departure_airport", "arrival_airport", COUNT(*) AS "flight_count" FROM AIRLINES.AIRLINES.FLIGHTS GROUP BY "departure_airport", "arrival_airport" ORDER BY "flight_count" DESC LIMIT 5

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (5 rows, 0.64s)

| departure_airport   | arrival_airport   |   flight_count |
|:--------------------|:------------------|---------------:|
| SVO                 | LED               |            305 |
| LED                 | SVO               |            305 |
| DME                 | LED               |            244 |
| LED                 | DME               |            244 |
| BZK                 | SVO               |            183 |

 ---
ü§ñ **Assistant**

**Top‚ÄØ5 busiest routes (by number of flights)**

| # | Departure Airport | Arrival Airport | Flights |
|---|--------------------|-----------------|---------|
| 1 | SVO | LED | 305 |
| 2 | LED | SVO | 305 |
| 3 | DME | LED | 244 |
| 4 | LED | DME | 244 |
| 5 | BZK | SVO | 183 |

These counts are derived from the `FLIGHTS` table, grouped by departure and arrival airport codes.

üí≠ _Reasoning: Need to format answer._

### 4

In [ ]:
q = "Which aircraft models have the most seats available?"

chat, res = ask(q)
res

ModelResponse(id='chatcmpl-kbcoj1z1s8fq7jt45uh0r', created=1764354094, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The aircraft models with the most seats available (based on the `SEATS` table) are:\n\n| Model | Seats |\n|-------|-------|\n| Boeing\u202f777‚Äë300 | 402 |\n| Boeing\u202f767‚Äë300 | 222 |\n| Airbus\u202fA321‚Äë200 | 170 |\n| Airbus\u202fA320‚Äë200 | 140 |\n| Boeing\u202f737‚Äë300 | 130 |\n| Airbus\u202fA319‚Äë100 | 116 |\n| Sukhoi Superjet‚Äë100 | 97 |\n| Bombardier CRJ‚Äë200 | 50 |\n| Cessna\u202f208 Caravan | 12 |\n\nThese counts represent the total number of seat rows recorded for each aircraft model in the dataset.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Provide answer.', provider_specific_fields={'refusal': None, 'reasoning': 'Provide answer.', 'reasoning_content': 'Provide answer.'}), provider_specific_fields={})], usage=Usage(completion_tokens=158, prompt_tokens=3488, total_tokens=3646, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [ ]:
vis(chat)

### üë§ **User**

> Which aircraft models have the most seats available?

 ---
### üß† Assistant


_Reasoning: Need join SEATS with AIRCRAFTS_DATA to count seats per model. Use GET(PARSE_JSON("model"),'en') as model_en. Count distinct seat_no? seats table has rows per seat. So COUNT(*) per aircraft_code then join model. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("model"), 'en')::VARCHAR AS "model", COUNT(*) AS "seat_count"
FROM AIRLINES.AIRLINES."SEATS"
JOIN AIRLINES.AIRLINES."AIRCRAFTS_DATA" ON "SEATS"."aircraft_code" = "AIRCRAFTS_DATA"."aircraft_code"
GROUP BY 1
ORDER BY 2 DESC

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (9 rows, 1.05s)

| model           |   seat_count |
|:----------------|-------------:|
| Boeing 777-300  |          402 |
| Boeing 767-300  |          222 |
| Airbus A321-200 |          170 |
| Airbus A320-200 |          140 |
| Boeing 737-300  |          130 |

 ---
ü§ñ **Assistant**

The aircraft models with the most seats available (based on the `SEATS` table) are:

| Model | Seats |
|-------|-------|
| Boeing‚ÄØ777‚Äë300 | 402 |
| Boeing‚ÄØ767‚Äë300 | 222 |
| Airbus‚ÄØA321‚Äë200 | 170 |
| Airbus‚ÄØA320‚Äë200 | 140 |
| Boeing‚ÄØ737‚Äë300 | 130 |
| Airbus‚ÄØA319‚Äë100 | 116 |
| Sukhoi Superjet‚Äë100 | 97 |
| Bombardier CRJ‚Äë200 | 50 |
| Cessna‚ÄØ208 Caravan | 12 |

These counts represent the total number of seat rows recorded for each aircraft model in the dataset.

üí≠ _Reasoning: Provide answer._

### 5

In [ ]:
q = "What is the average booking amount by all months?"
chat, res = ask(q)
res

ModelResponse(id='chatcmpl-mijy7ou6wld4b3u5jyvask', created=1764354109, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='```sql\nSELECT DATE_TRUNC(\'month\', TO_TIMESTAMP("book_date")) AS "month",\n       AVG("total_amount") AS "average_booking_amount"\nFROM AIRLINES.AIRLINES."BOOKINGS"\nGROUP BY 1\nORDER BY 1;\n```\n\n**Result (first 10 rows)**  \n\n| month                | average_booking_amount |\n|----------------------|------------------------|\n| 2017‚Äë06‚Äë01 00:00:00  | 76319.457757            |\n| 2017‚Äë07‚Äë01 00:00:00  | 79217.606637            |\n| 2017‚Äë08‚Äë01 00:00:00  | 78886.354229            |\n\n(Only the first three months are shown; the query returns all months in the dataset.)', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to output result.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to output result.', 'reasoning_content': 'Need to output result.'}), provider_specific_fields={})], usage=Usage(completion_tokens=183, prompt_tokens=3345, total_tokens=3528, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [ ]:
vis(chat)

### üë§ **User**

> What is the average booking amount by all months?

 ---
### üß† Assistant


_Reasoning: Need avg total_amount per month from BOOKINGS.book_date. Extract month. Use to_timestamp? book_date string with timezone. Use TO_TIMESTAMP(book_date). Then extract month via DATE_TRUNC or EXTRACT(MONTH...). Let's use DATE_TRUNC('month', TO_TIMESTAMP("book_date")). Group by that. Return month and avg._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT DATE_TRUNC('month', TO_TIMESTAMP("book_date")) AS "month", AVG("total_amount") AS "average_booking_amount" FROM AIRLINES.AIRLINES."BOOKINGS" GROUP BY 1 ORDER BY 1

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (3 rows, 0.65s)

| month               |   average_booking_amount |
|:--------------------|-------------------------:|
| 2017-06-01 00:00:00 |                  76319.5 |
| 2017-07-01 00:00:00 |                  79217.6 |
| 2017-08-01 00:00:00 |                  78886.4 |

 ---
ü§ñ **Assistant**

```sql
SELECT DATE_TRUNC('month', TO_TIMESTAMP("book_date")) AS "month",
       AVG("total_amount") AS "average_booking_amount"
FROM AIRLINES.AIRLINES."BOOKINGS"
GROUP BY 1
ORDER BY 1;
```

**Result (first 10 rows)**

| month                | average_booking_amount |
|----------------------|------------------------|
| 2017‚Äë06‚Äë01 00:00:00  | 76319.457757            |
| 2017‚Äë07‚Äë01 00:00:00  | 79217.606637            |
| 2017‚Äë08‚Äë01 00:00:00  | 78886.354229            |

(Only the first three months are shown; the query returns all months in the dataset.)

üí≠ _Reasoning: Need to output result._

In [ ]:
q = "Business class revenue wrt most used route"
chat, res = ask(q)
res

ModelResponse(id='chatcmpl-2xxp5lmtjrc8pey3vkayy', created=1764354145, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='Here‚Äôs a concise query that lists the top routes by Business‚Äëclass revenue:\n\n```sql\nSELECT \n  "departure_airport" AS "departure",\n  "arrival_airport"   AS "arrival",\n  SUM("amount")       AS "business_revenue"\nFROM AIRLINES.AIRLINES.TICKET_FLIGHTS\nJOIN AIRLINES.AIRLINES.FLIGHTS\n  ON AIRLINES.AIRLINES.TICKET_FLIGHTS."flight_id" = AIRLINES.AIRLINES.FLIGHTS."flight_id"\nWHERE AIRLINES.AIRLINES.TICKET_FLIGHTS."fare_conditions" = \'Business\'\nGROUP BY "departure_airport", "arrival_airport"\nORDER BY "business_revenue" DESC\nLIMIT 10;\n```\n\nThis returns the most lucrative Business‚Äëclass routes, ranked by total revenue.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to format query with JSON extraction? departure_airport is plain code, not JSON. So fine. Provide final answer with triple quotes.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to format query with JSON extraction? departure_airport is plain code, not JSON. So fine. Provide final answer with triple quotes.', 'reasoning_content': 'Need to format query with JSON extraction? departure_airport is plain code, not JSON. So fine. Provide final answer with triple quotes.'}), provider_specific_fields={})], usage=Usage(completion_tokens=199, prompt_tokens=3910, total_tokens=4109, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [ ]:
vis(chat)

### üë§ **User**

> Business class revenue wrt most used route

 ---
### üß† Assistant


_Reasoning: Need query: sum amount per route (departure_airport-arrival_airport) for business fare_conditions. Use TICKET_FLIGHTS join FLIGHTS to get airports. Sum amount where fare_conditions='Business'. Group by route. Order desc limit maybe 10._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("departure_airport"), 'en')::VARCHAR AS "departure", GET(PARSE_JSON("arrival_airport"), 'en')::VARCHAR AS "arrival", SUM("amount") AS "business_revenue" FROM AIRLINES.AIRLINES.TICKET_FLIGHTS JOIN AIRLINES.AIRLINES.FLIGHTS ON TICKET_FLIGHTS.flight_id = FLIGHTS.flight_id WHERE TICKET_FLIGHTS.fare_conditions = 'Business' GROUP BY 1,2 ORDER BY 3 DESC LIMIT 10

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚ùå **Error:** 000904 (42000): SQL compilation error: error line 1 at position 247
invalid identifier 'TICKET_FLIGHTS.FLIGHT_ID'
 ---
### üß† Assistant


_Reasoning: Need fully qualified names and correct column references. Use AIRLINES.AIRLINES.TICKET_FLIGHTS etc. Also departure_airport is in FLIGHTS, not JSON. So no parse_json. Just use columns directly. Let's craft query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT "departure_airport" AS "departure", "arrival_airport" AS "arrival", SUM("amount") AS "business_revenue" FROM AIRLINES.AIRLINES.TICKET_FLIGHTS JOIN AIRLINES.AIRLINES.FLIGHTS ON AIRLINES.AIRLINES.TICKET_FLIGHTS."flight_id" = AIRLINES.AIRLINES.FLIGHTS."flight_id" WHERE AIRLINES.AIRLINES.TICKET_FLIGHTS."fare_conditions" = 'Business' GROUP BY "departure_airport", "arrival_airport" ORDER BY "business_revenue" DESC LIMIT 10

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (10 rows, 8.56s)

| departure   | arrival   |   business_revenue |
|:------------|:----------|-------------------:|
| DME         | KHV       |          237082500 |
| KHV         | DME       |          233577000 |
| KHV         | LED       |          159945800 |
| LED         | KHV       |          156408000 |
| LED         | IKT       |          151771800 |

 ---
ü§ñ **Assistant**

Here‚Äôs a concise query that lists the top routes by Business‚Äëclass revenue:

```sql
SELECT
  "departure_airport" AS "departure",
  "arrival_airport"   AS "arrival",
  SUM("amount")       AS "business_revenue"
FROM AIRLINES.AIRLINES.TICKET_FLIGHTS
JOIN AIRLINES.AIRLINES.FLIGHTS
  ON AIRLINES.AIRLINES.TICKET_FLIGHTS."flight_id" = AIRLINES.AIRLINES.FLIGHTS."flight_id"
WHERE AIRLINES.AIRLINES.TICKET_FLIGHTS."fare_conditions" = 'Business'
GROUP BY "departure_airport", "arrival_airport"
ORDER BY "business_revenue" DESC
LIMIT 10;
```

This returns the most lucrative Business‚Äëclass routes, ranked by total revenue.

üí≠ _Reasoning: Need to format query with JSON extraction? departure_airport is plain code, not JSON. So fine. Provide final answer with triple quotes._

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()